@import 'settings';
$button-palette: map-merge($foundation-palette, (
  black: #bb00ff
)) !default;
@import '../../../node_modules/foundation-sites/scss/foundation';

@include foundation-everything;
@import 'tool';

*,html{
  padding:0;
  margin:0;
  font-family: 微软雅黑;
}
html,body{
  height:100%;
}
input[type=text],input[type=password]{
  margin:0;
}

