@import 'settings';
$button-palette: map-merge($foundation-palette, (
  black: #bb00ff
)) !default;
//@import '../../../node_modules/foundation-sites/scss/foundation';
@import '~foundation-sites/scss/foundation';
@include foundation-everything;
@import 'tool';
@import  'print';
*,html{
  padding:0;
  margin:0;
  font-family: 微软雅黑;
}
html,body{
  height:100%;
}
input[type=text],input[type=password]{
  margin:0;
}

.el-select input[readonly]{
  background: #FFF;
  cursor: pointer;
}

.dot-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
