@import 'settings';
$button-palette: map-merge($foundation-palette, (
  black: #bb00ff
)) !default;
//@import '../../../node_modules/foundation-sites/scss/foundation';
@import '~foundation-sites/scss/foundation';
@include foundation-everything;
@import 'tool';
@import  'print';
@import '../fonts/iconfont.css';
*,html{
  padding:0;
  margin:0;
  font-family: 微软雅黑;
}
html,body{
  height:100%;
}
input[type=text],input[type=password]{
  margin:0;
}

.el-select input[readonly]{
  background: #FFF;
  cursor: pointer;
}

.dot-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.el-submenu i.iconfont,.el-menu-item i.iconfont {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.index_badge .el-badge__content {
  border:none;
}
