.print {
  display:none;
}
@media print {
  body{
    margin:0;
    padding:0;
  }
  .el-message-box__wrapper {
    display:none;
  }
  .el-message.el-message--success{
    display:none;
  }
  .el-message {
    display:none;
  }
  .el-dialog__wrapper {
    display: none;
  }
  .el-dialog {
    display: none;
  }
  .no-print {
    display:none;
  }
  .print {
    display:block;
  }
  .center {
    text-align:center;
  }
  p {
    font-size:12px;
    margin:0;
  }
  img.small {
    width:120px;
  }
  img.normal {
    width: 160px;
  }
  img.big {
    width: 180px;
  }
  img.large {
    width: 200px;
  }
}
